<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />

  {{#if PRODUCTION}}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105865765-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'UA-105865765-1');
    </script>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'  
    }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-W6QH5P7');</script>
    <!-- End Google Tag Manager -->

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-4503655182421960",
        enable_page_level_ads: true
      });
    </script>

  {{/if}}

  <title>{{title}}</title>
  <meta name="title" content="{{title}}">
  <meta name="description" content="{{description}}">
  <meta name="keywords" content="{{keywords}}">

  <!-- Facebook Open Graph tags -->
  <meta property="og:image" content="{{imageUrl}}">
  <meta property="og:url" content="{{url}}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">

  <!-- Twitter tags -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@mayash_io" />
  <meta name="twitter:image" content="{{imageUrl}}">
  <meta name="twitter:url" content="{{url}}">
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:description" content="{{description}}">

  <!-- Use minimum-scale=1 to enable GPU rasterization -->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/draft-js/0.10.1/Draft.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">

  {{#if PRODUCTION}}
    <!-- This link polyfill the browser according to its requirement. -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  {{/if}}

  <style id="jss-server-side">{{{css}}}</style>

  <!-- Facebook Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
        n.callMethod.apply(n, arguments) : n.queue.push(arguments)      
    };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '109625929862037');
    fbq('track', 'PageView');
  </script>
  <noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=109625929862037&ev=PageView&noscript=1"
    />
  </noscript>
  <!-- End Facebook Pixel Code -->

</head>
<body style="border: 0; margin: 0;">
  {{#if PRODUCTION}}
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W6QH5P7" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
  {{/if}}

  <div id="app">{{{app}}}</div>

  <script>
    window.__INITIAL_STATE__ = {{{initialState}}};
  </script>

  {{#if PRODUCTION}}

    <style>
      .async-hide {
        opacity: 0 !important
      }
    </style>
    <script>(function (a, s, y, n, c, h, i, d, e) {
      s.className += ' ' + y; h.start = 1 * new Date;
        h.end = i = function () { s.className = s.className.replace(RegExp(' ?' + y), '') };
        (a[n] = a[n] || []).hide = h; setTimeout(function () { i(); h.end = null }, c); h.timeout = c;
      })(window, document.documentElement, 'async-hide', 'dataLayer', 4000, { 'GTM-5VVZ7ZC': true });
    </script>


    <!-- Google analytic start -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-105865765-1', 'auto');
      ga('require', 'GTM-5VVZ7ZC');
      ga('send', 'pageview');
    </script>
    <!-- Google analytic start -->

    <script>
      window.fbAsyncInit = function () {
        FB.init({
          appId: '182165565895218',
          cookie: true,
          xfbml: true,
          version: 'v1.0.0'
        });

        FB.AppEvents.logPageView();

      };

      (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    {{!-- <!-- Leadworx start  -->
    <script src="//adpxl.co/wAaou3f5/an.js"></script>
    <noscript><img src="//adpxl.co/wAaou3f5/spacer.gif"></noscript>
    <!-- Leadworx end  --> --}}
  {{/if}}
</body>
</html>
